# Ignore .env files and certificates
.env
*.crt
*.key
*.pem

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore unnecessary local files
.git
.idea
.vscode
*.log
*.spec
*.ps1
*.mmd

# Python virtual environments
.venv/
env/
venv/

# Requirements hash (local optimization file)
.requirements_hash

# Staging folder used in deployment script
staging/