# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.spec
.env

# VSCode
.vscode/

# Dependencies
*.egg-info/
dist/
build/

# React build (if it's symlinked and rebuilt during deployment)
# react-build/

# Others
*.log
output.mmd
handlers/miro_handler.py